.error {
  color: red;
}

.response {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.card{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: aliceblue;
}

.itemN{
  color: cadetblue;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}